.contact-card {
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    div span {
        width: 70px;
        display: inline-block;
        margin: 15px;
    }
    
    .MuiTextField-root {
        width: 80%;
        margin-left: 15px;
        &:last-child {
            margin-bottom: 15px;
        }        
    }

    .reason-input {
        input {
            padding-top: 30px !important;
            padding-bottom: 16px;
        }
    }

    button {
        align-self: flex-end;
        margin-bottom: 25px;
        margin-right: 5%;
        margin-left: 15px;
        @media screen and (max-width: 736px){
            width: 80% !important;
            align-self: auto !important;
        }
    }
}

.contact-page-wrapper {
    h1 {
        margin: 25px;
    }
}