.MuiDrawer-paper {
    top: auto !important;
    position: relative !important;    
}

.MuiList-root {
    background-color: white;
    color: black;
}

ul {
    padding-bottom: 0 !important;
}

.MuiAppBar-colorPrimary {
    background-color: black !important;
    border-top: 1px solid white !important;
}