.footer {
    div:first-child {
        margin-right: 10px;
    }
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-between;
    position: absolute;
    bottom: -280px;
    width: 100%;
}

span {
    margin: 6px 0;
    word-wrap: break-word !important;
    display: inline-block;
    word-break: break-all;
}

.header {
    font-size: 2em;
    font-weight: bolder;
    @media screen and (max-width: 900px){
        font-size: 1.2em !important;
    }
}